.main-navigation
    margin-bottom 15px

body
    text-align: center
    background-color: #f2f2f2

#chart
    // width: 100%
    // height: 256px

#tsopChart
    width: 100%
    height: 256px

#aquila-logo
    width: 130px
    height: auto